@font-face {
    font-family: 'grand_hotel';
    src: url('../fonts/grandhotel-regular-webfont.woff2') format('woff2'), url('../fonts/grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../pomodoro.jpg);
    background-size: cover;
    font-family: 'grand_hotel', sans-serif;
    font-size: 20px;
}

.container {
    width: 400px;
    padding: 20px 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 150px #999;
}

h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

#controls {
    text-align: center;
}

#pause {
    display: none;
}

.time {
    font-weight: bold;
    font-size: 3em;
}