@font-face {
    font-family: 'grand_hotel';
    src: url('../fonts/grandhotel-regular-webfont.woff2') format('woff2'), url('../fonts/grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #ccc;
    border-left: 1px solid #999;
}
::-webkit-scrollbar-thumb {
    background-color: #c00;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #e00;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    transition: .2s;
}

.container {
    width: 400px;
    padding: 20px 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 180px #A79A66;
}

h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

p.time i {
    color: #333;
    font-size: 58px;
}

label > i {
    text-shadow: 0 0 0 #fff;
}

.tableTask {
    width: 100%;
    max-height: 110px;
    overflow: auto;
    border: 1px solid #999;
}

table {
    width: 100%;
}

td {
    height: 30px;
    line-height: 30px;
    text-decoration: line-through;
    padding: 3px 6px;
    border-bottom: 1px dashed #777;
}

#controls {
    text-align: center;
}

#pause {
    display: none;
}

.time {
    font-weight: bold;
    font-size: 3em;
}