body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../pomodoro.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 400px;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid rgba(255, 255, 255, 0.3);
}
h1 {
    color: red;
    text-transform: uppercase;
}
#controls {
    text-align: center;
}
.time {
    font-weight: bold;
    font-size: 3em;
}
